<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Vlang Web Page</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
        <h1>its the project</h1>
    </header>
    <main>
        <p id="greeting">Hello, Visitor!</p>
        <button onclick="updateGreeting()">Click Me</button>
    </main>
    <footer>
        <p>&copy; 2024 My Web App</p>
    </footer>
    <script src="/assets/scripts.js"></script>
</body>
</html>